/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* head */
head {
  color: #fff;
}

/* body */
body {
  background: #fff;
}

.top-title {
  text-shadow:3px 0px 1px #fff;
}

.user-name {
  color: #555;
  font-weight: bold;
  margin-top: 15px;
  margin-right: 50px;
}

.text-center {
  margin-top: 100px ;
}

.jumbotron {
  background: url("/images/top.jpg") center center no-repeat;
  background-size: 100% auto;
  height: 500px;
}

.btn-danger:hover {
  background-color:#ac2925 ;
}