
/*.row div {
  border: 1px solid #000;
  padding: 1em;
  text-align: center;
  background-color: #dedede;
}*/

.container {
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.form-control {
  resize: none;
}

.list {
  border-bottom-left-radius: 15px;
  display: block;
  text-align: left;
  text-decoration: none;
  margin-bottom: 50px;
  padding: 0px;
  border: 1px solid #000;
  border-color: #c0c0c0;
  border-width: 7px;
  transition:all .5s ease;
  z-index:2;
}

/*
.list :hover {
  text-decoration: none;
  border-top-right-radius: 10px;
  background-color: #e5ffcc;
  transform-origin: right top;
  transition: all 0.35s ease;
  z-index: 1;
}
*/

.list::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: '';
  background: #e5ffcc;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform .5s;
}
.list:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}


.btn-danger {
  border-top-right-radius: 10px;
}

.list-title {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.show-title {
  font-size: 1.5em;
}

.title {
  font-size: 20px;
}

.detail-title {
  vertical-align: top;
  height: 20em !important;
}

.index-title {
  border-bottom: 2px dashed #d43f3a;
}

.newbtn {
  font-size: 12px;
  margin-bottom: 15px;
}

.copybtn {
  padding-top: 5px;
  padding-bottom: 15px;
}

.count {
  text-align: right;
}

.text-right {
  text-align: right;
}